#paging a{
	text-decoration: none;
	padding: 7px;
	border: 1px solid #EAEAEA;
	color:#393939;
}

#paging a:hover{
	background-color:#EAEAEA;
}

#paging .pagingIcon{
	font-size:11px;
	color:#6f6f6f;
	background-color:#EAEAEA;
}