#myTable{
	width:40%;
}

#myTable th{
	width:30%;
	border:1px solid #EAEAEA;
	padding:3px 0px 3px 20px;
}

#myTable td{
	border:1px solid #EAEAEA;
	padding:3px;
}

#withDraw_layout{
	width: 50%;
}

#withDraw_layout #alert_message{
	width: 100%;
	text-align: left;
	padding:4px;
	background-color: #EAEAEA;
	border:1px solid #BDBDBD;
	margin: 20px 0 20px 0;
}

#withDraw_layout #accountCheckTable {
	width:100%;
}

#withDraw_layout #accountCheckTable th{
	padding: 4px 0px 4px 20px;
	border:1px solid #BDBDBD;
}

#withDraw_layout #accountCheckTable td{
	padding:4px;
	border:1px solid #BDBDBD;	
}