#accountList th{
	text-align: center;
	background-color: #404040;
	color: white;
	vertical-align: middle;
}

#accountList td{
	text-align: center;
}

#accountList tfood td{
	background-color: #fff;
} 

#searchColumn{
	width:120px;
}
#searchValue{
	width:200px;
	margin-left:10px;
}

#searchLayout table td{
	padding:3px;
}