body{
	font-family: '¸¼Àº °íµñ','Malgun Gothic',³ª´®°íµñ,µ¸¿ò,Dotum,±¼¸²,Gulim,'Apple SD Gothic Neo',sans-serif;
}

#leftMenu{
	list-style: none;
	padding:0px;
	text-align: center;
	background-color:#1f2120;
	height:1000px;
}

#leftMenu li{
	padding:5px;
}

#leftMenu li a:hover{
	color:#fff;
	font-weight: bold;
}

#leftMenu li a{
	font-size:14px;
	color:#a1958c;
	font-weight: bold;
	text-decoration: none;
}

