.form_select th{
	background-color:gray;
	color:white;
	font-weight: normal;
	padding:3px;
}

.form_select td{
	padding:3px;
}

.form_select td select{
	border: 1px solid #EAEAEA;
	width:350px;
}


#search{
	background-image: url('/images/common/search.png');
	background-repeat: no-repeat;
	padding-left:30px;
}


#link_url{
	margin-top:3px;
}

.moveItemBtn, .moveSubItemBtn{
	margin-bottom:3px;
	background-color: white;
	border:1px solid #BDBDBD;
}

.moveItemBtn:disabled,.moveItemBtn[disabled]{
	color:#efefef;
}


.moveSubItemBtn:disabled,.moveSubItemBtn[disabled]{
	color:#efefef;
}



